
div.img {
    margin: 5px;
    padding: 25px;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
}	

div.img img {
    display: inline;
   
}   


div.img1 {background-color: #f96e5b;
    background-repeat: no-repeat;
    margin: 5px;
    padding: 35px;
    height: 200px;
    width:25%;
    float: left;
    text-align: center;
}	

div.img1 img1 {
    display: inline;
   
}   

div.img1 a:hover img1 {
    border: 10px solid #f96e5b;
}

div.desc1 {
  text-align: center;
  font-size: 0.9em;
  width: auto;

}

div.image1{
border-color: #f96e5b;
}


/*** Footer styles ***/

#footer {
	background-color:#f96e5b ;
	color:#fff;
	clear:both;
	text-align:center;
	padding:15px;
}


a.footer {text-decoration:none;color:#fff;}


a {text-decoration:none;color:#008b8b;}
